body{
    background-color: slategray ;
}
#menu{
    border: solid 1px black;
    width: 70%;
    height: 50%;
    
}
#danie{
    text-align: center;
    float: left;
}
#zdj{

}
#dodatki{
    text-align: center;
    float: left;
}
