body{
    background-color: slategray ;
}
#menu{
    border: 10px groove black;
    width: 70%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
    padding: 150px;
    font-size: 150%;
    
}
#danie{
    text-align: center;
    flex: 1;
    

}
#zdj{
    text-align: center;

}
#dodatki{
    text-align: center;
    flex: 1;

}
#danie input{
    float: left;
    width: 100px;
    text-align: left;
    margin-right: 1px;
}
#dodatki input{
    float: left;
    width: 100px;
    text-align: left;
    margin-right: 1px;
    
}
#skladniki{
    text-align: center;
    font-size: 120%;
}
#skladniki label{
    margin-right: 20px;
}

#dane{
    margin-top: 70px;
    text-align: center;
    font-size: 120%;
}
#dane label{
    margin-right: 20px;
}
button{
    
    width: 120px;
    height: 40px;
    margin-right: 30px;
    margin-left: 30px;
}
#wynik{
    margin-top: 70px;
    text-align: center;
    font-size: 120%;
}
#wynik{
    color: white;
    font-size: 120%;
}